.product {
  display: flex;
  padding: 65px;
}
.product__title {
  font-size: 36px;
  margin: 0;
}
.product__img {
  margin-right: 20px;
  width: 35%;
  object-fit: contain;
}
.card__like {
  background-image: url('../../assets/images/heart.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  min-width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  margin-top: 20px;
}
.card__like:hover {
  opacity: 0.6;
}
.card__like.card__like-active {
  background-image: url('../../assets/images/heart-active.svg');
  background-repeat: no-repeat;
}
@media screen and (max-width: 680px) {
  .product {
    padding: 20px;
  }
  .product__title {
    font-size: 16px;
  }
  .product__description {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .product {
    flex-direction: column;
  }
  .product__img {
    width: 100%;
    margin: 0;
  }
}
