.nav__btn {
  border-radius: 10px;
  padding: 0 10px;
  height: 30px;
  border: 2px solid #000;
  background-color: #dfa4ff;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.nav__btn:hover {
  background-color: #e5b6ff;
}
.nav__btn--large {
  height: 40px;
  width: 80px;
}
.nav__btn--small {
  height: 20px;
}
.nav__btn--primary {
  background-color: #dfa4ff;
}
.nav__btn--secondary {
  background-color: #ffd269;
}
.nav__btn--secondary:hover {
  background-color: #ffdf96;
}
